[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis
[submodule "public"]
	path = public
	url = https://github.com/gunnerclark/github-blog-prod.git
	branch = main
	ignore = all
